body {
    background-color: azure;
    border: dotted;
    border-width: thick;
}

#webcam_live_view {
    width: 300px;
    height: 300px;
    border: solid;
    border-width: thin;
}

#captured_image {
    width: 300px;
    height: 300px;
    border: solid;
    border-width: thin;
}